
<div class="jumbotron">
    <h1>Demo app of recipes</h1>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as a Guest</h3>    
    <p><%= link_to "Browse Recipes Listing","", class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as a Guest</h3>    
    <p><%= link_to "Browse Recipes Listing","", class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View Recipes as a Guest</h3>    
    <p><%= link_to "Browse Recipes Listing","", class:"btn btn-warning btn-small" %></p>
  </div>
</div>