<nav class="navbar navbar-fixed-top navbar-default">
  
  <ul class="nav navbar-nav" id="nav">
    <li class="active">
      <%= link_to "myRecipes", "", class: "btn btn-lg btn-success navbar-btn", id: "logo" %>
    </li>
    <li><%= link_to "link 1", "", class: "btn btn-default btn-warning navbar-btn", id: "link1" %></a>
    </li>
    <li><%= link_to "link 2", "", class: "btn btn-default btn-warning navbar-btn", id: "link2" %></a>
    </li>
    <li><%= link_to "link 3", "", class: "btn btn-default btn-warning navbar-btn", id: "link3" %></a>
    </li>
  </ul>
 
</nav>